#loginn{
    padding: 3px;
    border:solid black;
    width: 50%;
    
}
#logoutt{
    padding: 3px;
    border:solid black;
    margin: 5px;
    width: 50%;
}
footer{
    background-color: black;
}
.container-fluid{
    font-family: 'Courier New', Courier, monospace;
}
.nav-item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
#Favforit_menue{
    color: white;
    background-color: black;
}