#card-img-top{
    width: 25rem;
    margin-bottom: 5px ;
}
#card-img-top2{
    width: 25%;
    margin-bottom: 5px ;
}
#card-img-top3{
width: 25rem;
margin-bottom: 5px ;
}
#paragraphh{
    text-align: center;
    background-color:  burlywood;
    margin-bottom: 50px;

}